<script lang="ts">
    import { auth, db } from '$src/lib/firebase';
    import { FirebaseApp } from 'sveltefire';

    import Navigation from '$lib/components/layout/Navigation.svelte';
    import Hero from '$lib/components/layout/Hero.svelte';
    import SaveTheDate from '$lib/components/sections/SaveTheDate.svelte';
    import OurStory from '$lib/components/sections/OurStory.svelte';
    import Events from '$lib/components/sections/Events.svelte';
    import Photos from '$lib/components/sections/Photos.svelte';
    import Venue from '$lib/components/sections/Venue.svelte';
    import Registry from '$lib/components/sections/Registry.svelte';
    import Rsvp from '$lib/components/sections/Rsvp.svelte';
    import HotelInfo from '$lib/components/sections/HotelInfo.svelte';
    import DressCode from '$lib/components/sections/DressCode.svelte';
    import ThankYou from '$src/lib/components/sections/ThankYou.svelte';

    import { configRepo } from '$src/lib/repos/config';
    import { weddingIsOver } from '$lib/utils';
    import Ceremony from '$src/lib/components/sections/Ceremony.svelte';

    const config = configRepo.getConfig();
</script>

<svelte:head>
    <title>Joni & Cory are getting married!</title>
</svelte:head>

<FirebaseApp {auth} firestore={db}>
    <Navigation />
    <Hero />
    {#if config.saveTheDate && !weddingIsOver()}
        <SaveTheDate />
    {/if}
    {#if config.showStory && !weddingIsOver()}
        <OurStory />
    {/if}
    {#if config.showEvents && !weddingIsOver()}
        <Events />
    {/if}
    {#if config.showPictures && !weddingIsOver()}
        <Photos />
    {/if}
    {#if config.showMap && !weddingIsOver()}
        <Venue />
    {/if}
    {#if !weddingIsOver()}
        <Ceremony />
    {/if}
    {#if config.showRegistry && !weddingIsOver()}
        <Registry />
    {/if}
    {#if config.showHotel && !weddingIsOver()}
        <HotelInfo />
    {/if}
    {#if config.showDressCode && !weddingIsOver()}
        <DressCode />
    {/if}
    {#if config.showRsvp && !weddingIsOver()}
        <Rsvp />
    {/if}
    {#if weddingIsOver()}
        <ThankYou />
    {/if}
</FirebaseApp>
