<script lang="ts">
    import { loading } from '$src/lib/stores/loading';

    let modalElement: HTMLDialogElement;
    export let yesFunction: Function;
    export let noFunction: Function;
    export let title: string;
    export let message: string;
    export let label: string;
    export let disabled: boolean = false;

    const executeDecision = (yesPressed: boolean) => {
        if (yesPressed) {
            yesFunction();
        } else {
            noFunction();
        }
    };
</script>

<button
    {disabled}
    class={$$props.class + ' btn'}
    on:click|preventDefault={() => modalElement.showModal()}>
    {#if $loading}
        <span class="loading loading-spinner" />
        loading
    {:else}
        {label}
    {/if}
</button>
<dialog id="my_modal_1" class="modal" bind:this={modalElement}>
    <form method="dialog" class="modal-box text-center">
        <h3 class="font-bold text-lg">{title}</h3>
        <p class="my-2">{message}</p>
        <button class="btn btn-error w-1/4" on:click={() => executeDecision(false)}>No</button>
        <button class="btn btn-success text-white w-1/4" on:click={() => executeDecision(true)}
            >Yes</button>
    </form>
</dialog>
