<script lang="ts">
    import { loading } from '$src/lib/stores/loading';
    export let disabled: boolean;
    export let label = 'Submit';
    export let onClick: any;
    export let success: boolean = false;
    export let neutral: boolean = false;
    export let accent: boolean = false;
    export let error: boolean = false;

    $: isSuccess = !success && !neutral && !accent;
</script>

<button
    class={$$props.class + ' btn w-full'}
    class:btn-success={success || isSuccess}
    class:btn-error={error}
    class:btn-accent={accent}
    class:text-white={success || accent || isSuccess || error}
    class:btn-neutral={neutral}
    class:text-neutral-content={neutral}
    {disabled}
    on:click|preventDefault={onClick}>
    {#if $loading}
        <span class="loading loading-spinner" />
        loading
    {:else}
        {label}
    {/if}
</button>
