<script lang="ts">
    import type { RsvpData } from '$lib/types';

    import { deleteDoc, doc, setDoc } from 'firebase/firestore';
    import { db } from '$lib/firebase';
    import toast from 'svelte-french-toast';
    import { toastOptions, phoneFormat } from '$lib/utils';
    import Icon from '$lib/components/elements/Icon.svelte';

    export let guest: RsvpData;

    const handleCheck = async (guest: RsvpData) => {
        await setDoc(doc(db, `rsvp/${guest.id}`), {
            ...guest,
            checked: !guest.checked,
        });
    };

    const handleCopy = async (text: string) => {
        navigator.clipboard
            .writeText(text)
            .then(() => {
                toast.success(`copied \'${text}\' to clipboard'`);
            })
            .catch((error) => {
                toast.error(error);
            });
    };

    const handleDelete = async (docId: string) => {
        toast.promise(
            deleteDoc(doc(db, `rsvp/${docId}`)),
            {
                loading: 'Deleting document',
                success: `deleted document ${docId}`,
                error: "Couldn't delete document",
            },
            { ...toastOptions },
        );
    };
</script>

<div
    class="collapse collapse-plus max-w-prose mx-auto mb-2 border-2 border-primary"
    class:opacity-50={guest.checked}>
    <input type="checkbox" name="accordion-{guest.id}" />
    <div class="collapse-title">
        <div class="flex">
            <span>
                {#if !guest.created.isEqual(guest.updated) && !guest.checked}
                    <Icon icon="edit" class="item-status-icon" />
                {:else if guest.created.isEqual(guest.updated) && !guest.checked}
                    <Icon icon="new" class="item-status-icon" />
                {:else}
                    <Icon icon="done" class="item-status-icon" />
                {/if}
            </span>
            {guest.name} — party of {guest.guests}
        </div>
    </div>
    <div class="collapse-content">
        <div class="flex flex-row">
            <div class="form-control mb-3">
                <label class="label cursor-pointer">
                    <input
                        type="checkbox"
                        checked={guest.checked}
                        class="checkbox"
                        on:change={() => handleCheck(guest)} />
                    <span class="label-text ml-4">Guest input on master spreadsheet</span>
                </label>
            </div>
        </div>
        <div class="flex flex-row mb-3">
            <Icon icon="email" class="w-6 fill-primary mr-2" />
            {guest.email}
            <button class="ml-2 btn btn-xs" on:click={() => handleCopy(guest.email)}>Copy</button>
        </div>
        <div class="flex flex-row mb-3">
            <Icon icon="phone" class="w-6 fill-primary mr-2" />
            {phoneFormat(guest.phone)}
            <button class="ml-2 btn btn-xs" on:click={() => handleCopy(guest.phone)}>Copy</button>
        </div>
        <hr />
        <div>
            <ul class="list-disc pl-8">
                {#each guest.meals as meal}
                    {#if meal.meal != null && meal.name != null}
                        <li class="p-2">{meal.name} — {meal.meal}</li>
                    {/if}
                {/each}
            </ul>
        </div>
        <div>
            <button class="btn btn-error" on:click|preventDefault={() => handleDelete(guest.id)}
                >Delete</button>
        </div>
        <!-- </div> -->
    </div>
</div>

<style lang="postcss" global>
    .item-status-icon {
        @apply w-5 mr-3 fill-primary;
    }
</style>
