<script lang="ts">
    import CheckIcon from '$lib/icons/check.svg';
    import CloseIcon from '$lib/icons/close.svg';
    import DoneIcon from '$lib/icons/done.svg';
    import EditIcon from '$lib/icons/edit.svg';
    import EmailIcon from '$lib/icons/email.svg';
    import HeartIcon from '$lib/icons/heart.svg';
    import InfoIcon from '$lib/icons/info.svg';
    import MenuIcon from '$lib/icons/menu.svg';
    import MoonBgIcon from '$lib/icons/moon-bg.svg';
    import MoonIcon from '$lib/icons/moon.svg';
    import NewIcon from '$lib/icons/new.svg';
    import PhoneIcon from '$lib/icons/phone.svg';
    import ToTopIcon from '$lib/icons/to-top.svg';
    import WarnIcon from '$lib/icons/warn.svg';

    type IconType =
        | 'check'
        | 'close'
        | 'done'
        | 'edit'
        | 'email'
        | 'heart'
        | 'info'
        | 'menu'
        | 'moonBg'
        | 'moon'
        | 'new'
        | 'phone'
        | 'toTop'
        | 'warn';

    export let icon: IconType;
</script>

{#if icon === 'check'}
    <CheckIcon class={$$props.class} />
{:else if icon === 'close'}
    <CloseIcon class={$$props.class} />
{:else if icon === 'done'}
    <DoneIcon class={$$props.class} />
{:else if icon === 'edit'}
    <EditIcon class={$$props.class} />
{:else if icon === 'email'}
    <EmailIcon class={$$props.class} />
{:else if icon === 'heart'}
    <HeartIcon class={$$props.class} />
{:else if icon === 'info'}
    <InfoIcon class={$$props.class} />
{:else if icon === 'menu'}
    <MenuIcon class={$$props.class} />
{:else if icon === 'moonBg'}
    <MoonBgIcon class={$$props.class} />
{:else if icon === 'moon'}
    <MoonIcon class={$$props.class} />
{:else if icon === 'new'}
    <NewIcon class={$$props.class} />
{:else if icon === 'phone'}
    <PhoneIcon class={$$props.class} />
{:else if icon === 'toTop'}
    <ToTopIcon class={$$props.class} />
{:else if icon === 'warn'}
    <WarnIcon class={$$props.class} />
{:else}
    <MoonIcon class={$$props.class} />
{/if}
