<script lang="ts">
    import { configRepo } from '$src/lib/repos/config';
    const menu = configRepo.getMenu();
    let menuDialog: HTMLDialogElement;
</script>

<p class="text-center font-light rsvp-info mb-8 leading-10 text-lg">
    For menu info <button
        class="body-link"
        on:click|preventDefault={() => {
            menuDialog.showModal();
        }}>click here</button
    >.
</p>

<dialog id="menu_dialog" class="modal" bind:this={menuDialog}>
    <form method="dialog" class="modal-box">
        <h3 class="font-bold text-lg">Menu</h3>
        {#each menu as item}
            <p class="py-4 font-light">
                <span class="font-semibold">{item.name}</span><br />{item.desc}
            </p>
        {/each}
        <div class="modal-action">
            <button class="btn">Close</button>
        </div>
    </form>
</dialog>
