<script lang="ts">
    import PageSection from '$lib/components/layout/PageSection.svelte';
    import { stringsRepo } from '$src/lib/repos/strings';
    const venueInfo = stringsRepo.getVenueInfo();
</script>

<PageSection ref="weddingday" lg title="Wedding Day" primary bordered>
    <div>
        <h5 class="mb-2 text-center text-lg max-w-prose mx-auto">Ceremony</h5>
        <p class="mb-6 font-light text-center text-lg leading-10 max-w-prose mx-auto">
            The ceremony will take place in the Historic Garden at Community House Winnetka. Parking
            is available in a lot on the south side of the building with entry off of Lincoln Avenue
        </p>
        <h5 class="mb-2 text-center text-lg max-w-prose mx-auto">Inclement weather</h5>

        <p class="mb-2 font-light text-center text-lg max-w-prose mx-auto" />
        <p class="mb-2 font-light text-center text-lg max-w-prose mx-auto">
            In the event of rain, the ceremony will be held at <a
                class="body-link"
                href={venueInfo.reception.mapUrl}>Michigan Shores Club (click for map)</a
            >.
        </p>
        <p class="mb-6 font-light text-center text-lg leading-10 max-w-prose mx-auto">
            If weather is questionable the day of the wedding, you will be contacted via phone for
            location updates.
        </p>
        <h5 class="mb-2 text-center text-lg max-w-prose mx-auto">Reception</h5>
        <p class="mb-2 font-light text-center text-lg max-w-prose mx-auto">
            Immediately following the ceremony, join us for cocktails, dinner, and dancing
        </p>
        <p class="mb-2 font-light text-center text-lg max-w-prose mx-auto italic">
            <a class="body-link" href={venueInfo.reception.mapUrl}>
                Michigan Shores Club<br />
                911 Michigan Avenue, Wilmette, IL 60091<br />
            </a>
        </p>
        <p class="mb-2 font-light text-center text-lg max-w-prose mx-auto">
            Complimentary valet parking
        </p>
    </div>
</PageSection>

<style lang="postcss" global>
</style>
