<script lang="ts">
    import PageSection from '$lib/components/layout/PageSection.svelte';
</script>

<PageSection ref="dress" lg title="Dress Code" primary bordered>
    <div>
        <p class="body-text">
            Black-tie Optional. We ask that men wear a tuxedo or a dark suit and tie and women wear
            an evening gown or midi or knee-length cocktail dress.
        </p>
    </div>
</PageSection>

<style lang="postcss" global>
</style>
