<script lang="ts">
    import PageSection from '$lib/components/layout/PageSection.svelte';
    import EmailListForm from '$lib/components/forms/EmailListForm.svelte';
    import RsvpForm from '$lib/components/forms/RsvpForm.svelte';
    import { stringsRepo } from '$src/lib/repos/strings';
    import { configRepo } from '$src/lib/repos/config';
    import { rsvpDayString } from '$src/lib/utils';
    import ChangeRsvpForm from '../forms/ChangeRsvpForm.svelte';
    import { browser } from '$app/environment';

    let rsvpTitles = stringsRepo.getRsvpTitles();
    let config = configRepo.getConfig();

    $: sectionTitle = config.canRsvp
        ? rsvpSubmitted
            ? 'You did it!'
            : rsvpTitles.canRsvp
        : rsvpTitles.canNotRsvp;
    let changeRsvp = false;
    $: rsvpSubmitted = (browser && localStorage.getItem('rsvp-submitted') === 'true') || changeRsvp;
    $: havePhoneNumber = browser && localStorage.getItem('phone') !== null;
</script>

<PageSection ref="rsvp" title={sectionTitle} lg image>
    <div class="mb-8 font-light text-center rsvp-info">
        {#if config.canRsvp}
            {#if rsvpSubmitted}
                <p>You've submitted your RSVP already</p>
            {:else}
                <p>
                    We would greatly appreciate if you could RSVP before {rsvpDayString(
                        config.rsvpDate,
                    )}
                </p>
            {/if}
        {:else}
            <p>
                ...but not yet. Once we send formal invitations, you'll be to provide us your
                details here.
            </p>
            <p>
                If you want to recieve updates about when to RSVP, transportation, lodging, etc,
                please fill out the form below.
            </p>
        {/if}
    </div>

    {#if config.canRsvp}
        {#if rsvpSubmitted}
            {#if !havePhoneNumber}
                <p class="text-center">
                    To change your RSVP, enter the phone number you submitted.
                </p>
            {/if}
            <ChangeRsvpForm />
        {:else}
            <RsvpForm />
        {/if}
    {:else}
        <EmailListForm />
    {/if}
    <div class="mb-8 font-light text-center rsvp-info">
        <p>
            {#if !rsvpSubmitted}
                {changeRsvp ? 'To submit an RSVP, click' : 'To change your RSVP, click'}
                <button
                    class="body-link"
                    on:click|preventDefault={() => {
                        changeRsvp = !changeRsvp;
                    }}>here</button>
            {/if}
        </p>
    </div>
</PageSection>

<style lang="postcss">
    .rsvp-info p {
        @apply leading-10 text-lg font-light mb-8;
    }
</style>
