<script lang="ts">
    import PageSection from '$lib/components/layout/PageSection.svelte';
</script>

<PageSection ref="thankyou" lg title="Thank You">
    <p class="max-w-prose mx-auto text-center text-xl font-light leading-loose">
        Thank you for being there on the most important day of our lives. We only hope that you had
        as much fun at our wedding as we did!
    </p>
</PageSection>
