<script lang="ts">
    import { collection, orderBy, query } from 'firebase/firestore';
    import { collectionStore, userStore } from 'sveltefire';
    import { auth, db } from '$src/lib/firebase';
    import { adminLogin } from '$src/lib/utils';
    import type { RsvpData } from '$src/lib/types';
    import Navigation from '$lib/components/layout/Navigation.svelte';
    import PageSection from '$lib/components/layout/PageSection.svelte';
    import FormField from '$src/lib/components/elements/FormField.svelte';
    import GuestData from '$src/lib/components/elements/GuestData.svelte';
    import FormButton from '$src/lib/components/elements/FormButton.svelte';

    let email: string;
    let password: string;

    const clearForm = () => {
        email = '';
        password = '';
    };

    const user = userStore(auth);
    const testQuery = query(collection(db, 'rsvp'), orderBy('checked', 'asc'), orderBy('updated'));
    const guests = collectionStore<RsvpData>(db, testQuery);

    const handleClick = async () => {
        await adminLogin(email, password).then(clearForm);
    };
</script>

<svelte:head>
    <title>Joni & Cory are getting married!</title>
</svelte:head>

<Navigation />

<PageSection ref="admin" title="Admin">
    {#if $user}
        <div class="py-12">
            {#if $guests.length > 0}
                {#each $guests as guest (guest.id)}
                    <GuestData {guest} />
                {/each}
            {:else}
                <p class="text-center">No Guest RSVP yet.</p>
            {/if}
        </div>
    {:else}
        <!-- sign in form -->
        <div class="py-12">
            <FormField fieldType="text" bind:data={email} label="email" />
            <FormField fieldType="password" bind:data={password} label="password" />
            <div class="text-center px-3 pb-12 w-full md:w-1/2 mx-auto">
                <FormButton
                    accent
                    onClick={handleClick}
                    disabled={email === '' || password === ''} />
            </div>
        </div>
    {/if}
</PageSection>
