@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        scroll-padding-top: 4rem;
    }
    body {
        @apply text-black-87;
    }
}

@layer components {
    .btn {
        @apply rounded-full;
        @apply font-serif;
    }

    .btn-primary,
    .btn-error {
        @apply text-white;
    }

    .menu[class*=' p-'] li > *,
    .menu[class^='p-'] li > * {
        @apply rounded-full;
    }

    .btn-raspberry {
        @apply bg-raspberry hover:bg-raspberry-900 text-white;
    }

    .btn-pink-lavender {
        @apply bg-pink-lavender-600 hover:bg-pink-lavender-900 text-white;
    }

    .btn-peach {
        @apply bg-peach hover:bg-peach-900 text-white;
    }
}

label {
    @apply text-black-87;
}

.pulse {
    animation-name: pulse;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes pulse {
    0% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1);
    }
}

.body-text {
    @apply mb-6 font-light text-center text-lg leading-10 max-w-prose mx-auto;
}

.body-link {
    @apply font-normal text-lavender-900 hover:text-raspberry-600 underline;
}
