<script lang="ts">
    import { serverTimestamp } from 'firebase/firestore';
    import FormButton from '../elements/FormButton.svelte';
    import FormField from '../elements/FormField.svelte';
    import { configRepo } from '$src/lib/repos/config';
    import GuestMealInput from '../elements/GuestMealInput.svelte';
    import {
        deleteRsvp,
        findRsvpByPhoneNumber,
        rsvpSubmitIsDisabled,
        updateRsvp,
        errorToast,
    } from '$src/lib/utils';
    import { loading } from '$src/lib/stores/loading';
    import { browser } from '$app/environment';
    import DecisionDialog from '../elements/DecisionDialog.svelte';
    import { onMount } from 'svelte';
    import MenuInfo from '../elements/MenuInfo.svelte';
    let rsvpId = '';
    let guestMealsInitial = configRepo.getInitialMeals();
    export let name: string = '';
    export let email: string = '';
    export let phone: string = '';
    export let numGuests: number | undefined = undefined;
    export let guestMeals = guestMealsInitial;

    const resetChangeForm = () => {
        rsvpId = '';
        phone = '';
    };

    const handleSubmit = async () => {
        const rsvp = await findRsvpByPhoneNumber(phone);
        name = rsvp!.name;
        email = rsvp!.email;
        phone = rsvp!.phone;
        numGuests = rsvp!.guests;
        guestMeals = rsvp!.meals as { name: null; meal: null }[];
        rsvpId = rsvp!.id;

        if (rsvpId === '' || rsvpId === undefined) {
            errorToast('No RSVP found with that phone number');
            resetChangeForm();
        }
    };

    const handleChange = async () => {
        let docData = {
            name,
            email,
            phone,
            guests: numGuests === undefined ? 0 : numGuests,
            meals: guestMeals,
            checked: false,
            updated: serverTimestamp(),
        };
        await updateRsvp(rsvpId, docData).then(() => {
            resetChangeForm();
        });
    };

    const handleDelete = async () => {
        if (rsvpId !== '') {
            await deleteRsvp(rsvpId).then(() => {
                if (browser) localStorage.setItem('rsvp-submitted', 'false');
                resetChangeForm();
            });
        }
    };

    $: disabled = rsvpSubmitIsDisabled(name, email, phone, numGuests || 0, guestMeals) || $loading;

    let hasPhoneStored = false;

    onMount(() => {
        if (browser) {
            phone = localStorage.getItem('phone') || '';
            hasPhoneStored = localStorage.getItem('phone') !== null;
        }
    });
</script>

{#if rsvpId === ''}
    <form class="w-full max-w-lg mx-auto">
        {#if !hasPhoneStored}
            <!-- content here -->
            <div class="flex flex-wrap -mx-3 mb-4">
                <div class="w-full px-3 mx-auto">
                    <input
                        bind:value={phone}
                        class="rsvp-input mt-4"
                        type="text"
                        placeholder="Phone"
                        name="Phone" />
                </div>
            </div>
        {/if}

        <FormButton
            disabled={phone === ''}
            onClick={handleSubmit}
            label={hasPhoneStored ? 'Edit RSVP' : 'Submit'} />
    </form>
{:else}
    <form class="w-full max-w-lg mx-auto" name="submit-rsvp-to-google-sheet" method="POST">
        <div class="flex flex-wrap -mx-3 mb-4">
            <FormField bind:data={name} label="Name" fieldType="text" />
            <FormField bind:data={email} label="Email" fieldType="text" />
        </div>
        <div class="flex flex-wrap -mx-3 mb-4">
            <FormField bind:data={phone} label="Phone" fieldType="text" disabled />
            <FormField bind:data={numGuests} label="Number of guests" fieldType="number" />
        </div>
        <!-- guest meals -->
        {#if numGuests != undefined}
            <p class="text-center font-semibold font-serif text-lg mb-8">Your Party</p>
            <MenuInfo />
            {#each Array(numGuests) as _, index}
                <GuestMealInput
                    bind:name={guestMeals[index]['name']}
                    bind:meal={guestMeals[index]['meal']}
                    {index} />
            {/each}
        {/if}
        <DecisionDialog
            {disabled}
            label="Save"
            class="btn w-full btn-success text-white"
            title="Save changes?"
            message="Save the changes to your RSVP?"
            yesFunction={handleChange}
            noFunction={() => {}} />
        <FormButton
            neutral
            {disabled}
            onClick={resetChangeForm}
            label="Cancel Changes"
            class="mt-4" />
        <DecisionDialog
            label="Delete RSVP"
            class="btn w-full btn-error mt-4"
            title="Are you sure?"
            message="Do you really want to delete your RSVP?"
            yesFunction={handleDelete}
            noFunction={() => {}} />
    </form>
{/if}

<style lang="postcss">
    .rsvp-input {
        @apply appearance-none block w-full rounded-full py-3 px-4 mb-3 leading-tight focus:outline-none bg-neutral focus:bg-white;
    }
</style>
