<script lang="ts">
    import FormField from '$lib/components/elements/FormField.svelte';
    import FormButton from '$lib/components/elements/FormButton.svelte';

    import { emailListSubmitIsDisabled, handleEmailListSubmit } from '$lib/utils';
    import { loading } from '$lib/stores/loading';

    let name: string = '';
    let email: string = '';

    function resetForm() {
        name = '';
        email = '';
    }

    const submitForm = async () => {
        await handleEmailListSubmit(name, email).then(resetForm);
    };

    $: disabled = emailListSubmitIsDisabled(name, email) || $loading;
</script>

<form class="w-full max-w-lg mx-auto" name="submit-email-to-google-sheet" method="POST">
    <div class="flex flex-wrap -mx-3 mb-4">
        <FormField bind:data={name} label="Name" fieldType="text" />
        <FormField bind:data={email} label="Email" fieldType="text" />
    </div>
    <FormButton {disabled} onClick={submitForm} />
</form>
