<script lang="ts">
    import FormField from '$lib/components/elements/FormField.svelte';
    import GuestMealInput from '$lib/components/elements/GuestMealInput.svelte';

    import { handleRsvpSubmit, phoneFormat, rsvpSubmitIsDisabled } from '$lib/utils';
    import { loading } from '$lib/stores/loading';
    import { configRepo } from '$src/lib/repos/config';
    import FormButton from '$lib/components/elements/FormButton.svelte';
    import { serverTimestamp } from 'firebase/firestore';
    import MenuInfo from '../elements/MenuInfo.svelte';

    let guestMealsInitial = configRepo.getInitialMeals();
    let name: string = '';
    let email: string = '';
    let phone: string = '';
    let numGuests: number | undefined;
    let guestMeals = guestMealsInitial;
    $: disabled = rsvpSubmitIsDisabled(name, email, phone, numGuests || 0, guestMeals) || $loading;

    const resetForm = () => {
        name = '';
        email = '';
        phone = '';
        numGuests = undefined;
        guestMeals = guestMealsInitial;
    };

    const submitForm = async () => {
        let docData = {
            name,
            email,
            phone: phoneFormat(phone),
            guests: numGuests === undefined ? 0 : numGuests,
            meals: guestMeals,
            checked: false,
            created: serverTimestamp(),
            updated: serverTimestamp(),
        };
        await handleRsvpSubmit(docData).then(resetForm);
    };
</script>

<form class="w-full max-w-lg mx-auto" name="submit-rsvp-to-google-sheet" method="POST">
    <div class="flex flex-wrap -mx-3 mb-4">
        <FormField bind:data={name} label="Name" fieldType="text" />
        <FormField bind:data={email} label="Email" fieldType="text" />
    </div>
    <div class="flex flex-wrap -mx-3 mb-4">
        <FormField bind:data={phone} label="Phone" fieldType="text" />
        <FormField bind:data={numGuests} label="Number of guests" fieldType="number" />
    </div>
    <!-- guest meals -->
    {#if numGuests != undefined}
        <p class="text-center font-semibold font-serif text-lg mb-4">Your Party</p>
        <MenuInfo />
        {#each Array(numGuests) as _, index}
            <GuestMealInput
                bind:name={guestMeals[index]['name']}
                bind:meal={guestMeals[index]['meal']}
                {index} />
        {/each}
    {/if}
    <FormButton {disabled} onClick={submitForm} />
</form>
