<script lang="ts">
    import { adminSignOut, scrollIntoView, scrollToTop, weddingIsOver } from '$lib/utils';
    import { navRepo } from '$src/lib/repos/nav';
    import { stringsRepo } from '$src/lib/repos/strings';
    import { configRepo } from '$src/lib/repos/config';
    import { page } from '$app/stores';
    import { auth } from '$src/lib/firebase';
    import { userStore } from 'sveltefire';
    import Icon from '../elements/Icon.svelte';

    const user = userStore(auth);
    let config = configRepo.getConfig();
    export let navItems = navRepo.getNavItems();
    let rsvpButtonText = stringsRepo.getRsvpButtonText();
    export let homeButton = false;

    let previousY: number;
    let currentY: number;
    let clientHeight: number;

    const deriveDirection = (y: number) => {
        const direction = !previousY || previousY < currentY ? 'down' : 'up';
        previousY = y;
        return direction;
    };

    $: scrollDirection = deriveDirection(currentY);
    $: offscreen = scrollDirection === 'down' && currentY > clientHeight * 4;

    $: isAdminPage = $page.url.toString().includes('admin');
</script>

<svelte:window bind:scrollY={currentY} />

<div
    class="navbar bg-base-100/80 sticky top-0 backdrop-blur-sm transition-transform ease-in z-50"
    class:motion-safe:-translate-y-full={offscreen}
    bind:clientHeight>
    <div class="navbar-start">
        {#if navItems.length != 0}
            <div class="dropdown" id="dropdown-container">
                <!-- svelte-ignore a11y-label-has-associated-control -->
                <!-- svelte-ignore a11y-no-noninteractive-tabindex -->
                <label
                    tabindex="0"
                    class="btn btn-ghost btn-circle lg:hidden swap swap-rotate"
                    id="menu-button">
                    <Icon icon="menu" class="w-6 fill-base-content" />
                </label>
                <!-- svelte-ignore a11y-no-noninteractive-tabindex -->
                <ul
                    tabindex="0"
                    id="dropdown-menu"
                    class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
                    <!-- dropdown menu -->
                    {#each navItems as { label, href }}
                        <li>
                            <a {href} on:click|preventDefault={scrollIntoView}>{label}</a>
                        </li>
                    {/each}
                </ul>
            </div>
        {/if}

        <!-- svelte-ignore a11y-missing-attribute -->
        <!-- svelte-ignore a11y-click-events-have-key-events -->
        <a
            class="btn btn-ghost btn-circle rounded-full opacity-70"
            on:click={!homeButton || !isAdminPage ? scrollToTop : undefined}
            href={homeButton || isAdminPage ? '/' : undefined}>
            <Icon icon="moon" class="w-8" />
        </a>
    </div>
    <div class="navbar-center hidden lg:flex">
        <ul class="menu menu-horizontal p-0">
            {#each navItems as { label, href }}
                <li>
                    {#if homeButton}
                        <a {href}>{label}</a>
                    {:else if isAdminPage}
                        <a href={'/' + href}>{label}</a>
                    {:else}
                        <a {href} on:click|preventDefault={scrollIntoView}>{label}</a>
                    {/if}
                </li>
            {/each}
            {#if isAdminPage}
                <li>
                    <span>admin: {isAdminPage}</span>
                </li>
            {/if}
        </ul>
    </div>
    <div class="navbar-end text-right">
        {#if !weddingIsOver() && !isAdminPage}
            {#if config.showRsvp}
                <a
                    href="#rsvp"
                    class="btn btn-primary text-white"
                    on:click|preventDefault={scrollIntoView}>{rsvpButtonText}</a>
            {/if}
        {/if}
        {#if $user && isAdminPage}
            <!-- rsvp info -->
            <div class="text-center">
                <button
                    type="submit"
                    class="btn btn-primary text-white"
                    on:click|preventDefault={adminSignOut}>sign out</button>
            </div>
        {/if}
    </div>
</div>
