<script lang="ts">
    import Icon from '../elements/Icon.svelte';

    export let ref: string;
    export let classes: string = '';
    export let title: string | undefined = undefined;

    export let sm: boolean = false;
    export let md: boolean = false;
    export let lg: boolean = false;

    export let primary: boolean = false;
    export let raspberry: boolean = false;
    export let eucalyptus: boolean = false;
    export let peach: boolean = false;
    export let periwinkle: boolean = false;

    export let bordered: boolean = false;
    export let image: boolean = false;
</script>

<section
    id={ref}
    class="{classes} relative bg-opacity-12"
    class:bg-primary={primary}
    class:bg-raspberry={raspberry}
    class:bg-eucalyptus={eucalyptus}
    class:bg-peach={peach}
    class:bg-periwinkle={periwinkle}
    class:bg-base-100={!primary && !raspberry && !eucalyptus && !peach && !periwinkle}
    class:border-y={bordered}
    class:border-primary={bordered && primary}
    class:border-error={bordered && raspberry}
    class:border-success={bordered && eucalyptus}
    class:border-warning={bordered && peach}
    class:border-info={bordered && periwinkle}
    class:py-12={sm || md || lg}
    class:px-6={sm || md || lg}
    class:md:py-24={md}
    class:md:px-11={md}
    class:lg:py-36={md}
    class:lg:px-16={md}
    class:md:py-18={lg}
    class:md:px-39={lg}
    class:lg:py-24={lg}
    class:lg:px-72={lg}
    class:text-primary-content={primary || (!peach && !eucalyptus && !raspberry && !periwinkle)}
    class:text-warning-content={peach}
    class:text-error-content={raspberry}
    class:text-success-content={eucalyptus}
    class:text-info-content={periwinkle}
    class:bg-image={image}>
    {#if title != undefined}
        <h2 class="text-center text-3xl font-serif font-semibold mb-8">
            {title}
        </h2>
    {/if}
    <slot />
    {#if image}
        <div
            class="absolute bottom-0 right-0 w-full -z-10 flex justify-end"
            class:fill-lavender={primary}
            class:fill-raspberry={raspberry}
            class:fill-eucalyptus={eucalyptus}
            class:fill-periwinkle={periwinkle}
            class:fill-peach={peach || (!primary && !raspberry && !eucalyptus)}>
            <Icon icon="moonBg" class="w-[275px] mr-0 sm:mr-4 md:mr-12 lg:mr-24 opacity-60" />
        </div>
    {/if}
</section>
